/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic */

:root{
    --1u: 10px;
    --2u: 20px;
    --3u: 30px;
    --4u: 40px;
}

/* utils */

.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    
}



/* header */

header{
    background-color: lightblue;
}

#nav-bar{
    display: flex;
    margin: var(--1u);
    width: 100%;
    justify-content: space-between;
}

#nav-bar *{
    background-color: goldenrod;
    border: 2px dashed black;
    padding: var(--1u);
}

#nav-bar div{
    width: 25%;
}

#nav-bar nav{
    flex-grow: 1;
    text-align: center;
}

#nav-bar div:last-child{
    text-align: right;
}

#background-img{
    background-color: darkblue;
    min-height: 300px;
    padding: var(--4u);
}

#background-img article{
    background-color: violet;
    border: 2px dashed black;
    min-height:350px;
    max-width: 800px;
    margin: 0 auto;
}